@page 
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Pode estar difícil agora, mas você consegue se tentar o suficiente!</h1>
    <p>Confia: <a href="../Pessoas.cshtml">Tudo que está passando é por um bem maior</a>.</p>
</div>
